:root {
    --color-primary: #0468BF;
    --color-secondary: #403BBF;
    --dark-color: rgb(2, 0, 34);
    --light-color: #f0f0f0;
    --glass: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(78, 70, 229, 0.5);
    --text-shadow-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 780px) { 
    /* Navbar */
    .nav-menu {
        position: absolute;
        top: 70px;
        left: 0;
        background-color: rgb(3, 2, 22);
        color: var(--light-color);
        border-radius: 0 10px 10px 0;
        flex-direction: column;
        width: 200px;
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: all 0.4s ease;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    }
    
    .nav-menu.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .menu-link {
        padding: 5px;
    }

    .menu-link:hover {
        color: var(--color-primary);
    }

    .menu-link::after {
        display: none;
    }

    /* Início */
    .name-home {
        font-size: 2rem;
    }
    .paragraph-home {
        font-size: 1rem;
    }
    
    /* Sobre */
    .about-cont {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .image-about {
        width: 200px;
        height: 200px;
    }

    .desc-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .description-about {
        width: 350px;
    }

    /* Habilidades */
    .tech-container {
        min-width: 300px;
        grid-template-columns: repeat(2, 1fr);
    }
    .technologies {
        padding: 5px;
    }

    .img-tech {
        height: 60px;
        width: 60px;
    }

    #see_more {
        font-size: 1.2rem;
    }

    /* Projetos */
    .cards-container {
        width: 300px;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: hidden;
    }

    .card {
        width: 290px;
        flex-shrink: 0;
        pointer-events: auto !important;
    }

    .card:hover {
        display: none;
        box-shadow: none;
        transform: none;
    }

    .left-btn, .right-btn {
        display: none; 
    }

    /* Detail */
    .detail-container {
        width: 330px;
    }

    .detail-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #detail-image {
        width: 300px;
    }

    .detail-links {
        justify-content: center;
    }

    .detail-title {
        font-size: 1.5rem;
    }

    .detail-description {
        font-size: 0.9rem;
    }

    .button-back {
        justify-content: center;
    }

    /* Contato */
    .contact-form { 
        max-width: 330px;
    }


}