:root {
    --color-primary: #0468BF;
    --color-secondary: #403BBF;
    --dark-color: rgb(2, 0, 34);
    --light-color: #f0f0f0;
    --glass: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(78, 70, 229, 0.5);
    --text-shadow-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 780px) { 
    /* Navbar */
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .menu-link:hover {
        transition: all 0.3s ease;
        color: var(--color-primary);
    }

    .menu-link::after {
        content: none;
        background: none;
        width: 0;
        height: 0;
    }

    /* Início */
    .name-home {
        font-size: 2.5rem;
    }
    .paragraph-home {
        font-size: 1.2rem;
    }
    
    /* Sobre */
    .about-cont {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .image-about {
        width: 200px;
        height: 200px;
    }

    .desc-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .description-about {
        width: 350px;
    }

    /* Habilidades */
    .tech-container {
        min-width:  350px;
        padding: .5rem;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
    }

    #see_more {
        font-size: 1.2rem;
    }

    /* Projetos */
    .cards-container {
        justify-content: center;
    }
    .card {
        width: 100%; 
    }
}