* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --color-primary: #0468BF;
    --color-secondary: #403BBF;
    --dark-color: rgb(2, 0, 34);
    --light-color: #f0f0f0;
    --glass: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(78, 70, 229, 0.5);
    --text-shadow-color: rgba(0, 0, 0, 0.5);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

.navigation {
    display: block;
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.menu-link {
    display: flex;
    text-decoration: none;
    color: var(--light-color);
    font-weight: 500;
    position: relative;
    padding: .5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--color-primary);
    transition: width 0.3s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.name-home {
    color: var(--light-color);
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 5px 5px 10px var(--text-shadow-color);
}

.paragraph-home {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    gap: .5rem;
    text-shadow: 5px 5px 10px var(--text-shadow-color);
    color: var(--light-color);
}

#typewriter {
    color: var(--color-primary);
}

#typewriter::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

.about {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-about {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.image-about {
    background-image: url('/assets/img/zoro.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--shadow-color);
    border: 1px solid var(--glass);
}

.midia-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.midia-links {
    display: flex;
    gap: 1rem;
}

.midia {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 5px;
}

.midia:hover {
    box-shadow: 0 5px 10px var(--shadow-color);
    transform: translateY(-5px);
}

.description-about {
    padding: 1rem;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid var(--glass);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.paragraph-about {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.button-cv {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background: var(--color-primary);
    color: var(--light-color);
    transition: all 0.3s ease;
}

.button-cv:hover {
    background-color: rgb(24, 21, 114);
    box-shadow: 0 0 10px var(--shadow-color);
}

.skills {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-skills {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.tech-container {
    min-width: 500px;
    border: 1px solid var(--glass);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    transition: height 0.5s ease;
}

.skills.active .tech-container {
    height: auto;
}

.skills.active .tech-container::before {
    visibility: hidden;
}

.technologies {
    display: flex;
    justify-content: center;
    margin: auto;
}

.technologies:hover {
    transform: translateY(-5px);
}

.img-tech {
    width: 100px;
    object-fit: cover;
}

.img-tech:hover {
    cursor: pointer;
}

#see_more {
    margin-top: 10px;
    color: var(--light-color);
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
}

#see_more:hover {
    color: var(--color-primary);
}

.projects {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.carousel {
    max-width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cards-container {
    max-width: 800px;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 1rem;
    scrollbar-width: none;
}

.cards-container::-webkit-scrollbar {
    display: none;
}

.card {
    max-width: 250px;
    height: 350px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid var(--glass);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 5px 10px var(--shadow-color);
    transform: translateY(-10px);
}

.card-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-text {
    padding: 1.5rem;
}

.card-name {
    font-size: 1rem;
    margin-bottom: 5px;
}

.card-description {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.carousel-btn {
    background-color: var(--color-secondary);
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: background 0.3s;
}

.carousel-btn:hover {
    background-color: rgb(24, 21, 114);
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.carousel-dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-dot.active {
    background-color: var(--color-secondary);
}

.carousel-dot.active:hover {
    background-color: rgb(24, 21, 114);
}

.detail-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(10px);
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.detail-container.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.detail-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#detail-image {
    border-radius: 10px;
}

.detail-title {
    font-size: 2rem;
}

.detail-description {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.back-btn {
    margin-top: 1rem;
    padding: 10px 20px;
    border: none;
    background: var(--color-secondary);
    color: var(--light-color);
    cursor: pointer;
    border-radius: 5px;
}

.back-btn:hover {
    background: rgb(24, 21, 114);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 99;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.contact {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contact-form {
    width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid var(--glass);
    padding: 2rem;
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    margin-top: .5rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border: 1px solid var(--glass);
    color: var(--light-color);
    outline: none;
}

.campo-form:focus {
    border-color: var(--color-secondary);
    box-shadow: 0 0 10px var(--shadow-color);
}

.label {
    color: var(--light-color);
    font-weight: bold;
}

.button-form {
    width: 100%;
    color: var(--light-color);
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all .5s ease;
}

.button-form:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px var(--shadow-color);
}

footer {
    text-align: center;
    color: var(--light-color);
    background-color: rgb(1, 0, 17);
    padding: 3px;
}